Third Year/Semi-structured Dta and Advanced Data Modelling/Coursework 2/Mario (original)/mario/mariokart.dtd

<!ENTITY % stats "(name,speed,accel,weight,handling,traction,mturbo)">
<!ENTITY % terrain "(land,anti-g,water,air)">

<!ELEMENT name (#PCDATA)>
<!ELEMENT speed %terrain;>
<!ELEMENT accel (#PCDATA)>
<!ELEMENT weight (#PCDATA)>
<!ELEMENT handling %terrain;>
<!ELEMENT traction (#PCDATA)>
<!ELEMENT M-turbo (#PCDATA)>

<!ELEMENT land (#PCDATA)>
<!ELEMENT anti-g (#PCDATA)>
<!ELEMENT water (#PCDATA)>
<!ELEMENT air (#PCDATA)>
